.header__logo {
    width: 176px;

    /*border-color: brown;
    border-width: 1px;
    border-style: solid;*/
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
    }
}