.header__logo {
    width: 176px;

    /*border-color: brown;
    border-width: 1px;
    border-style: solid;*/
}

@media screen and (max-width: 768px) {
    .header__logo {
        max-width: 22.9vw;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 44.4vw;
    }
}