.footer__copyright {    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 0;

    /*border-color: brown;
    border-style: solid;
    border-width: 1px;*/
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        font-size: 1.8vw;
        line-height: 2.1vw;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 4.4vw;
        line-height: 4.4vw;
        margin-top: 48px;
    }
}