@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro {
    margin-top: 92px;
    margin-left: 148px;
    max-width: 690px;

    /*border-color: brown;
    border-width: 1px;
    border-style: solid;*/
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 93.75vw;
        margin-top: 11.5vw;
        margin-left: 3.1vw;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin: 20vw 5vw 0;
    }
}