@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1184px;
    min-height: 740px;
    margin: 92px 48px 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;

    /*border-color: brown;
    border-width: 1px;
    border-style: solid;*/
    
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 9vw 0;
        max-width: 100vw;
        min-height: 62.5vw;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 11.5vw 0;
        
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 20vw 0;   
          
    }
}