.lead__caption {    
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 6px;
    margin-bottom: 0;

    /*border-color: brown;
    border-width: 1px;
    border-style: solid;*/
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 3.1vw;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 5vw;
    }
}