@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraphs/place__paragraphs.css);

.place {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-gap: 48px 3.1vw;

    /*border-color: brown;
    border-width: 1px;
    border-style: solid;*/
}

@media screen and (max-width: 1280px) {
    .place {
    grid-template-columns: 35.9vw 37.8vw;
    }
}


@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: 43vw 44.5vw;        
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 93.75vw;
        grid-gap: 48px 3.6vw;
        grid-template-columns: 44.3vw 45.8vw;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 32px;
    }
}